{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style media="screen">
    input[type=submit]{
      color: black;
      background-color: blue;
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    </style>
    <title>UGC Counseling Home Page</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  </head>
  <body>
    <h1>Counselling For Selection and Admission Board
      <br>Counselling - JEE(Mains) 2020</br></h1>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
              {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" title="login">Log In</a><br></br>
        <a href="{% url 'register' %}" title="sign-up">create an account</a><br></br>
      {% else %}
        <a href="http://127.0.0.1:8000/home/registration" title="Go to registration page">Registration</a><br></br>
        <a href="http://127.0.0.1:8000/home/update" title="Update Your Data">Update</a><br></br>
        <a href="http://127.0.0.1:8000/home/delete" title="Delete your Data">Delete</a><br></br>
      {% endif %}
      {% if user.is_authenticated %}
        <a href="http://127.0.0.1:8000/logout" title="Logout">Log Out</a><br></br>
      {% endif %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
