{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>modifying record</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  </head>
  <body>
    <h1>Update Form for UGC counselling (JEE 2020)</h1>
    <h2>Fill The Following Details to Update </h2>
    <form action="{% url 'modify' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Update">
    </form>
    <br></br>
  </body>
</html>
