{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Registration for UGC Counselling</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">

  </head>
  <body>
      <h1>Registration Form for UGC counselling (JEE 2020)</h1>
      <h2>Fill The Following Details </h2>
      <form action="{% url 'registration' %}" enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {{ reg_form.as_p }}
        <input type="submit" value="Save your Record">
      </form>
      <br></br>
      <a href="{% url 'update' %}">Update an Existing record</a>
      <a href="{% url 'index' %}">Back to home Page</a>


  </body>
</html>
